.txt-14-normal {
  font-family: "Gilroy";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: black;
}

.txt-22-normal {
  font-family: "Gilroy";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: black;
}

.txt-16-normal {
  font-family: "Gilroy";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: black;
}
